.mei-impact {
    width: 100%;
    margin: 0;
    padding: 0 18px;
    box-sizing: border-box;

    overflow: hidden;

    background: #edf7f3;
}

.mei-impact-image {
    display: block;

    width: 100%;
    height: auto;

    margin: 0;
    padding: 0;

    object-fit: contain;
}